<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Exo|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styleSheet.css">
</head>
<body style="background-color: orange">
{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="userName" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <button class="button" type="submit">Login</button>
</form>
<form action="/newUser" method="post">
    <input type="text" placeholder="Username" name="userName"/>
    <input type="password" placeholder="Password" name="password"/>
    <button class="button" type="submit">Create User</button>
</form>
{{/user}}

{{#user}}
<p>Welcome, {{name}}!</p>
<form action="/logout" style="float:left" method="post">
    <button class="button" type="submit">Logout</button>
</form>

<form action="allDone" style="float:left" method="get">
    <button class="button" type="allDone">Mark all as Complete</button>
</form>

<form action="noneDone" style="float:left" method="get">
    <button class="button" type="noneDone">Mark all as Incomplete</button>
</form>

<form action="toggleAll" method="get">
    <button class="button" type="toggleAll">Toggle all</button>
</form>
<br><br>

<form action="/submitTodo" method="post">
    <input type="text" placeholder="Please type todo" name="todo" required/>
    <button class="button" type="submit">Submit todo</button>
</form>


<ol>
    {{#todos}}
        <li>{{text}} {{isDone}}  <a href="delete?todoID={{id}}">Delete</a> &nbsp; <a href="/toggle?todoID={{id}}">Toggle</a><input type="checkbox" value="none" name="check"/></li>
    {{/todos}}
</ol>

{{/user}}
</body>
</html>
