<html>
<body>
{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="userName" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <button type="submit">Login</button>
</form>
<form action="/newUser" method="post">
    <input type="text" placeholder="Username" name="userName"/>
    <input type="password" placeholder="Password" name="password" />
    <button type="submit">Create User</button>
</form>
{{/user}}

{{#user}}
Welcome, {{name}}!
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br><br>

<form action="/submitTodo" method="post">
    <input type="text" placeholder="Go to the store" name="todo" required/>
    <button type="submit">Submit todo</button>
</form>


{{/user}}
</body>
</html>
